{% extends 'SKE/base.html' %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-two-thirds">
            <h1 class="title has-text-centered">
                {{ contest.title }}
            </h1>

            <br>
            <div class="contest-body">
            {{ contest.body | safe }}
            </div>
            <br>

            <div class="contest-submissions">
                <h1 class="title">Przesłane zgłoszenia</h1>
                {% if submissions %}
                    {% for subm in submissions %}
                        <div class="submission-level-div submission-level-div-{{subm.result}}" id="subm-{{subm.id}}">
                            {% comment %} {{ subm.id }} - {{ subm.result }}
                            789 {% endcomment %}
                            <nav class="level">
                                <div class="level-item has-text-centered">
                                    <div>
                                    <p class="heading submission-header">ID</p>
                                    <p class="title submission-title"><a style="color: black" href="{% url 'SubmissionDashboard' id=subm.id %}">#{{ subm.id }}</a></p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                    <p class="heading submission-header">Zadanie</p>
                                    <p class="title submission-title">{{ subm.task.title }}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                    <p class="heading submission-header">Status</p>
                                    <p class="title submission-title">{{ subm.result }}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                    <p class="heading submission-header">Wynik</p>
                                    <p class="title submission-title">{{ subm.score }}</p>
                                    </div>
                                </div>
                            </nav>

                            {% comment %} <div class="subm-{{subm.id}}-tests">
                                {% for ttest in subm.ttests.all %}
                                    <div class="columns has-text-centered">
                                        <div class="column">
                                            <p class="heading">Nr Testu</p>
                                            <p class="title">{{ ttest.test.ord_id }}</p>
                                        </div>
                                        <div class="column">
                                            <p class="heading">Wynik</p>
                                            <p class="title">{{ ttest.result }}</p>
                                        </div>
                                        <div class="column">
                                            <p class="heading">Punkty</p>
                                            <p class="title">{{ ttest.score }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div> {% endcomment %}
                        </div>
                    {% endfor %}
                    <div class="has-text-centered" style="margin-top: 2rem;">
                    <a href="{% url 'ListSubmissions' id=contest.id %}">Zobacz wszystkie swoje zgłoszenia</a>
                    </div>
                {% else %}
                    <h1 class="title no-contest-title">[ Brak zgłoszeń do wyświetlenia ]</h1>
                {% endif %}
            </div>

            <div class="contest-messages">
                <h1 class="title">Powiadomienia</h1>
                {% if cont_notifis %}
                {% else %}
                    <h1 class="title no-contest-title">[ Brak powiadomień do wyświetlenia ]</h1>
                {% endif %}
            </div>
        </div>
        <div class="column">
            <div class="contest-task-list">
                <h1 class="subtitle"> Zadania konkursowe </h1>
                {% if tasks %}
                    {% for task in tasks %}
                        {% if task.id in tpassed %}
                        <a href="{% url 'TaskDashboard' id=task.id %}" class="task-link submission-level-div-4">{{ task.title }}_{{task.ord_id}}</a>
                        {% elif task.id in tspassed %}
                        <a href="{% url 'TaskDashboard' id=task.id %}" class="task-link submission-level-div-3">{{ task.title }}_{{task.ord_id}}</a>
                        {% elif task.id in tnpassed %}
                        <a href="{% url 'TaskDashboard' id=task.id %}" class="task-link submission-level-div-2">{{ task.title }}_{{task.ord_id}}</a>
                        {% elif task.id in terrors %}
                        <a href="{% url 'TaskDashboard' id=task.id %}" class="task-link submission-level-div-1">{{ task.title }}_{{task.ord_id}}</a>
                        {% else %}
                        <a href="{% url 'TaskDashboard' id=task.id %}" class="task-link">{{ task.title }}_{{task.ord_id}}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    </br>
                    <h1 class="title no-contest-title">[ Brak zadań do wyświetlenia ]</h1>
                {% endif %}

                {% if user.is_superuser %}
                    <section class="section has-text-centered">
                        <h1 class="title">Wgraj nowe zadanie</h1>
                        <form class="form" action="{% url 'UploadContestTaskPackage' id=contest.id %}" method="POST" id="course-upload-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="file" style="display: inline-block;">
                                <label class="file-label">
                                {{ form.package_file }}
                                <span class="file-cta">
                                    <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                    Wybierz plik z paczką
                                    </span>
                                </span>
                                </label>
                            </div>
                            <button type="submit" class="button is-warning"> Wgraj </button>
                        </form>
                    </section>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% if ranking %}
<section class="hero is-warning has-text-centered">
    <div class="hero-body">
        <h1 class="title">Ranking</h1>
    </div>
</section>
{% include 'SKE_CONTEST/_ranking.html' %}
{% endif %}
{% endblock content %}