{% extends 'SKE/base.html' %}

{% block library_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/codemirror.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/theme/material.min.css" />
{% endblock library_css %}

{% block library_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/mode/python/python.min.js"></script>
{% endblock library_js %}

{% block content %}
<form action="{% url 'SendContestTaskSubmission' id=task.id %}" method='POST' class='is-hidden'>
    {% csrf_token %}
    {{ form.code }}
    <button type="submit" id="submit-button"></button>
</form>

<section class="section">
    <a href="{% url 'ContestDashboard' id=task.contest.id %}" style="color: black; margin-bottom: 1rem; display: inline-block;"> Wróć do konkursu </a>
    <div class="columns">
        <div class="column">
            {{ task.body | safe }}
        </div>
        <div class="column">
            <div id="editor" class="editor"></div>
            <div class="has-text-centered">
            <span class="send-button-span">
                <a class="button is-success is-medium" id="send-submit">Prześlij rozwiązanie</a>
                </br>
                </br>
            </span>
            <span style="color: black; font-weight: 500;">Liczba dostępnych zgłoszeń: {{ subms_left }} </span>
            </div>

            <div class="">
            </div>
        </div>
        </div>

        <br>
        <h1 class="title has-text-centered"> Zgłoszenia do zadania </h1>
        {% if subms %}
                    {% for subm in subms %}
                        <div class="submission-level-div submission-level-div-{{subm.result}}" id="subm-{{subm.id}}">
                            {% comment %} {{ subm.id }} - {{ subm.result }}
                            789 {% endcomment %}
                            <nav class="level">
                                <div class="level-item has-text-centered">
                                    <div>
                                    <p class="heading submission-header">ID</p>
                                    <p class="title submission-title"><a style="color: black" href="{% url 'SubmissionDashboard' id=subm.id %}">#{{ subm.id }}</a></p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                    <p class="heading submission-header">Zadanie</p>
                                    <p class="title submission-title">{{ subm.task.title }}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                    <p class="heading submission-header">Status</p>
                                    <p class="title submission-title">{{ subm.result }}</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                    <p class="heading submission-header">Wynik</p>
                                    <p class="title submission-title">{{ subm.score }}</p>
                                    </div>
                                </div>
                            </nav>

                            {% comment %} <div class="subm-{{subm.id}}-tests">
                                {% for ttest in subm.ttests.all %}
                                    <div class="columns has-text-centered">
                                        <div class="column">
                                            <p class="heading">Nr Testu</p>
                                            <p class="title">{{ ttest.test.ord_id }}</p>
                                        </div>
                                        <div class="column">
                                            <p class="heading">Wynik</p>
                                            <p class="title">{{ ttest.result }}</p>
                                        </div>
                                        <div class="column">
                                            <p class="heading">Punkty</p>
                                            <p class="title">{{ ttest.score }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div> {% endcomment %}
                        </div>
                    {% endfor %}
                    <div class="has-text-centered" style="margin-top: 2rem;">
                    <a href="{% url 'ListSubmissions' id=task.contest.id %}">Zobacz wszystkie swoje zgłoszenia</a>
                    </div>
                {% else %}
                    <h1 class="title no-contest-title">[ Brak zgłoszeń do wyświetlenia ]</h1>
                {% endif %}
</section>
{% endblock content %}

{% block scripts %}
<script>
    test_value = `# Nie wiesz co i jak? Nie przejmuj się
# przygotujemy kursy dzięki którym
# pojmiesz Ed-a w mgnieniu oka
String var = "Hello";
Print(var, " World!");
`;

    var editor = document.getElementById("editor");
    var mCEditor = CodeMirror(editor, {
        value: test_value,
        mode: "python",
        lineNumbers: true,
        theme: "material"
    });
</script>

<script>
    $("#send-submit").click(function() {
        var code = mCEditor.getValue();
        $("#id_code").val(code);
        $("#submit-button").click();
        return false;
    });
</script>
{% endblock scripts %}