{% extends 'SKE/base.html' %} {% block content %}
<section class="has-text-centered is-light">
    <div class="hero-body">
        <h1 class="title is-large" style="font-size: 4rem">Kursy</h1>
    </div>
</section>

{% for course in courses %}
<section class="hero has-text-centered" style="margin: 1rem auto 3rem auto; max-width: 1000px; border-radius: 1rem;">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1">
        		{{ course.title }}
			</h1>
			<h4 class="subtitle is-6">
				Opublikowany przez @<b>{{ course.upload.author.username }}</b>
			</h4>
			<a href="{% url 'ViewCourse' course_id=course.id %}" class="button is-info is-light is-large">Otwórz kurs</a>
		</div>
	</div>
</section>
{% endfor %}

{% if user.is_superuser %}
<section class="section has-text-centered">
    <h1 class="title">Wgraj nowy kurs</h1>
    <form class="form" action="/courses/api/upload_package/" method="POST" id="course-upload-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="file" style="display: inline-block;">
            <label class="file-label">
              {{ form.course_package_file }}
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Wybierz plik z paczką
                </span>
              </span>
            </label>
        </div>
        <button type="submit" class="button is-info"> Wgraj </button>
    </form>
</section>
{% endif %}

{% endblock content %}
{% block scripts %}
<script>
</script>
{% endblock scripts %}