{% extends 'SKE/base.html' %}

{% block library_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/codemirror.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/theme/material.min.css" />
{% endblock library_css %}

{% block library_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.50.2/mode/python/python.min.js"></script>
{% endblock library_js %}

{% block content %}
<form class="is-hidden" id="submit_exercise_form">
	{% csrf_token %}
	{{ exer_form.code }}
</form>

<<section class="hero has-text-centered">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1">
        		{{ course.title }}
			</h1>

			{% if course.father_course %}
				<a href="{% url 'ViewCourse' course_id=course.father_course.id %}">Wróć</a>
			{% else %}
				<a href="{% url 'ListCourses' %}">Wróć</a>
			{% endif %}
		</div>
	</div>
</section>

<section class="section">
	<div class="courseBody">
		{{ course.body_html | safe }}
	</div>
</section>

{% if course_children %}
<section class="section has-text-centered">
	<h1 class="title">Działy kursu</h1>
	<ol>
	{% for course_child in course_children %}
		<li><a href="{% url 'ViewCourse' course_id=course_child.id %}" class="courseChild">{{ course_child.title }}</a></li>
	{% endfor %}
	</ol>
</section>
{% endif %}

{% if exercises %}
<section class="section has-text-centered">
	<h1 class="title">Ćwiczenia</h1>
	{% for course_exer in exercises %}
		{% include 'SKE_COURSES/_exercise.html' %}
	{% endfor %}
</section>
{% endif %}
{% endblock content %}

{% block scripts %}
	<script>
		var mCEditors = {};
	</script>

	<script>
		function BeginCodeSubmission(id) {
			$("#executeCode-" + id).addClass("is-loading");
			$("#executeCode-" + id).addClass("is-success");
			$("#executeCode-" + id).removeClass("is-light");
			$("#executeCode-" + id).removeClass("is-danger");	
			$("#executeCode-" + id).toggleClass("is-hidden");
			$("#executeCode-" + id + "-load").toggleClass("is-hidden");
		}

		function EndCodeSubmission(id) {
			$("#executeCode-" + id).toggleClass("is-hidden");
			$("#executeCode-" + id).removeClass("is-loading");
			$("#executeCode-" + id + "-load").toggleClass("is-hidden");
		}

		function GetSubmissionResult(id, subm_id) {
			$.get('/courses/api/check_solve/' + subm_id.toString()).done(function(data) {
				if (data == "0") {
					setTimeout(GetSubmissionResult(id, subm_id), 2000);
				} else {
					if (data == "4") {
						$("#executeCode-" + id).addClass("is-light");
						$("#executeCode-" + id).html("Ćwiczenie zaliczone");
					} else {
						$("#executeCode-" + id).addClass("is-danger");
						$("#executeCode-" + id).addClass("is-light");
						if (data == "3") {
							$("#executeCode-" + id).html("Niepoprawny wynik");
						} else {
							$("#executeCode-" + id).html("Problem z uruchomieniem");
						}
					} 
					
					EndCodeSubmission(id);
				}
				return false;
			}).fail(function(data) {
				$("#executeCode-" + id).addClass("is-danger");
				$("#executeCode-" + id).addClass("is-light");
				$("#executeCode-" + id).html("Problem z serwerem");
				EndCodeSubmission(data);
				return false;
			});

			return false;
		}

		function ExecuteCodeFunction(id) {
			BeginCodeSubmission(id);
			var code = mCEditors[id].getValue("</br>");
			$("#id_code").val(code);

			$.post('/courses/api/solve_exercise/' + id, $("#submit_exercise_form").serialize()).done(function(data) {
				GetSubmissionResult(id, data);
				return false;
			}).fail(function(data) {
				$("#executeCode-" + id).addClass("is-danger");
				$("#executeCode-" + id).addClass("is-light");
				$("#executeCode-" + id).html("Problem z serwerem");
				EndCodeSubmission(id);
				return false;
			});

			return false;
		}
	</script>

	{% for course_exer in exercises %}
		<script>
			var editor_{{course_exer.id}} = document.getElementById("editor-{{course_exer.id}}");
			$.get('/courses/api/get_start_code/{{course_exer.id}}').done(function(data) {
					mCEditors[{{course_exer.id}}] = CodeMirror(editor_{{course_exer.id}}, {
						value: data,
						mode: "python",
						lineNumbers: true,
						theme: "material"
					});
					$("#executeCode-{{course_exer.id}}").addClass("is-light");
					$("#executeCode-{{course_exer.id}}").html("Ćwiczenie zaliczone");
				return false;
			}).fail(function(data) {
				mCEditors[{{course_exer.id}}] = CodeMirror(editor_{{course_exer.id}}, {
					value: `{{ course_exer.start_code }}`,
						mode: "python",
						lineNumbers: true,
						theme: "material"
					});

				return false;
			});
		</script>

		<script>
			$("#show_example-{{course_exer.id}}").click(function() {
				$.get("/courses/api/get_example/{{course_exer.id}}").done(function(data) {
					mCEditors[{{course_exer.id}}].setValue(data);
					$("#show_example_div-{{course_exer.id}}").addClass("is-hidden");
					$("#show_example_div_success-{{course_exer.id}}").removeClass("is-hidden");
				}).fail(function(data) {
					$("#show_example_div-{{course_exer.id}}").addClass("is-hidden");
					$("#show_example_div_error-{{course_exer.id}}").removeClass("is-hidden");
				});
				return false;
			});
		</script>

		<script>
			$("#executeCode-{{course_exer.id}}").click(function() {
				ExecuteCodeFunction({{course_exer.id}});
				return false;
			});
		</script>
	{% endfor %}
{% endblock scripts %}