<pre>
Cześć,
SKE jest nowym projektem chcącym wspomóc nauczycieli i dzieci w kształceniu z zakresu informatyki i programowania. W tym celu stworzyliśmy nowy język oraz platformę konkursowo-edukacyjną. 
Piszemy właśnie z tego powodu.

W dniach 17.05-01.06 chcemy przeprowadzić test naszego systemu oraz sprawdzić jak nasz język może podpasować młodym informatykom.
Serdecznie zapraszamy cię do wzięcia udziału w testach systemu dostępnego na stronie https://skeprojekt.xyz.

Zapraszamy również do zgłaszania swoich uwag/komentarzy/spostrzerzeń czy też zwyczajne popisanie na naszym serwerze discord https://discord.gg/UhgZU7y.

Przygotowaliśmy wstępny kurs nowego języka oraz konkurs, który pomoże ci sprawdzić swoje siły w przeróżnych zagadnieniach informatycznych.
Udostępniamy też możliwość walki z innymi rozwiązując zadania konkursowe o zróżnicowanym poziomie trudności. Powodzenia.

PS.
Weź to - może ci się przydać:
Twój prywatny klucz do założenia konta : {{ token.value }}
---

Projekt SKE
</pre>