.stopa {
    bottom: .5rem;
    right: .5rem;
    position: fixed;
    z-index: 11111;
}

.stopa>h5 {
    font-weight: bold;
}

.contact-tiles {
    margin: auto;
}

.form-narrow {
    width: 91vw;
    max-width: 555px;
    margin: .5em auto;
}

.sandbox-hero-body {
    padding-bottom: 1px;
}

.hero-foot {
    margin-top: -2.3em;
}

#input-column {
    margin-left: auto;
    margin-right: auto;
}

#output-data {
    height: 15vw;
    max-height: 15vw;
}

#input-data {
    height: 7vw;
    max-height: 7vw;
}

.editor {
    width: 711px !important;
    max-width: 81vw !important;
    border-radius: 3px !important;
    height: 511px !important;
    margin: auto;
}

.CodeMirror {
    padding: .5rem;
    border-radius: 1rem;
    height: 451px !important;
    font-size: .95rem;
    text-align: left;
}

.courseBody {
    font-weight: 500;
    font-size: 1.4rem;
    max-width: 90vw;
    max-width: 700px;
    margin: auto;
}

.courseChild {
    font-size: 1.5rem;
    font-weight: 600;
}

.contest-level {
    margin: 3rem;
}

.contest-body {
    width: 70%;
    margin: auto;
}

.no-contest-title {
    margin: 2rem;
    text-align: center;
    font-family: monospace;
    font-size: 2rem !important;
    color: #aeaeae !important;
}

.task-link {
    display: block;
    font-size: 1.32rem;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 1rem;
    background: #efefee;
    padding: .5rem 0;
    border-radius: .3rem;
}

.task-link.success {
    background: #2ecc71;
}

.task-link.error {
    background: #e74c3c;
}

.task-link.not-success {
    background: #e67e22;
}

.submission-level-div {
    margin: 1.3rem .3rem;
    background: rgba(239, 239, 238, 1);
    padding: .4rem 0 .7rem 0;
}

.submission-level-div-1 {
    background: rgba(231, 77, 60, 0.7);
}

.submission-level-div-2 {
    background: rgba(52, 152, 219, 0.7);
}

.submission-level-div-3 {
    background: rgba(243, 157, 18, 0.7);
}

.submission-level-div-4 {
    background: rgba(46, 204, 112, 0.7);
}

.submission-header {
    font-size: 1rem;
    font-weight: 800;
}

.submission-title {
    font-size: 1.5rem;
}